* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

body {
    width: 100%;
    zoom: 0.75;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 34px;
    color: red;
    min-width: 40px;
    max-height: 40px;
    overflow: hidden;
}

#main {
    display: inline;
}

#left {
    width: 50%;
    margin: 0 auto;
}

#l_left {
    float: left;
    width: 30%;
    margin: 0 auto;
}

#l_right {
    float: left;
    width: 70%;
}

#right {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

p.info {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: rgb(19, 60, 192);
}

p.info_2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    display: inline;
    color: rgb(19, 60, 192);
}

#down {
    float: left;
    width: 100%;
    height: 20%;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(19, 60, 192);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button:hover {
    background-color: rgb(59, 91, 196);
}

.button:active {
    background-color: rgb(19, 60, 192);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#d_info {
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
    font-size: 28px;
    margin-top: 10px;
    background-color: white;
}

#d_info2 {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    height: 120px;
    border: 1px solid black;
    font-size: 20px;
    margin-top: 5px;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    html {
        width: 100%;
    }
    body {
        width: 100%;
        zoom: 0.45;
    }
    #main {
        width: 100%;
    }
    #left {
        width: 100%;
        height: 40%;
    }
    #l_left {
        float: left;
        width: 27%;
        margin-left: 3%;
    }
    #l_right {
        float: left;
        width: 70%;
    }
    #right {
        text-align: center;
        margin: 0 auto;
        height: 40%;
        width: 100%;
    }
    #down {
        width: 100%;
        height: 20%;
        text-align: center;
    }
}